---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import Solutions from "../components/Solutions.astro";
import Process from "../components/Process.astro";
import Pricing from "../components/Pricing.astro";
import FinalCta from "../components/FinalCta.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Nav />
  <main id="main">
    <Hero />
    <Problem />
    <Solutions />
    <Process />
    <Pricing />
    <FinalCta />
  </main>
  <Footer />
</BaseLayout>
